<mat-toolbar class="bottom-navigation">
    <div class="icon-nav" routerLink='/all-category'>
        <mat-icon>store</mat-icon>
        <p>Kho hàng</p>
    </div>
    <div class="icon-nav" routerLink='/shopping-bag'>
        <mat-icon>shopping_cart</mat-icon>
        <p>Giỏ hàng</p>
    </div>
    <div class="icon-nav" routerLink='/order-history'>
        <mat-icon>assignment</mat-icon>
        <p>Đơn hàng</p>
    </div>
    <div class="icon-nav" style="border-right: 0.2px solid var(--border-color);" routerLink='/my-profile'>
        <mat-icon>account_circle</mat-icon>
        <p>Tài khoản</p>
    </div>
</mat-toolbar>
