<mat-toolbar class="bottom-navigation">
    <div class="icon-nav" routerLink='/product-library'>
        <mat-icon>shopping_cart</mat-icon>
        <p>Thư viện SP</p>
    </div>
    <div class="icon-nav" routerLink='/ware-house'>
        <mat-icon>assignment</mat-icon>
        <p>Sản phẩm</p>
    </div>
    <div class="icon-nav" routerLink='/order-history-supplier'>
        <mat-icon>store</mat-icon>
        <p>Đơn hàng</p>
    </div>
    <div class="icon-nav" style="border-right: 0.2px solid var(--border-color);" routerLink='/my-profile'>
        <mat-icon>account_circle</mat-icon>
        <p>Tài khoản</p>
    </div>
</mat-toolbar>
