<div id="forgot" fxLayout="column">
    <div id="forgot-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div id="forgot-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
            <div id="FormTitle">
                <div class="formLogo">
                    <img src="assets/images_doxa/Logo-omed-1.png">
                </div>
            </div>
            <div *ngIf="!isValidToken">
                <div id="forgotTitle">
                    <!-- <button mat-icon-button [routerLink]="['/login']">
                    <mat-icon>chevron_left</mat-icon>
                </button> -->
                    <p class="forgotText">QUÊN MẬT KHẨU</p>
                </div>
                <div class="forgotLogo">
                    <img src="assets/images_doxa/undraw_my_password_d6kg.svg" alt="">
                </div>
                <div *ngIf="!isEmailSent">
                    <div class="forgotDirection">
                        <p>Vui lòng nhập email của bạn!</p>
                        <p style="color: red">Bạn sẽ nhận một liên kết để tạo mật khẩu mới thông qua email này.</p>
                    </div>
                    <form action="#" class="forgotForm" [formGroup]="forgotForm" (ngSubmit)="onSubmit('forgot')">
                        <div>
                            <input type="text" id="email" class="inputForm" formControlName="email"
                                placeholder="Ví dụ omed@gmail.com">
                        </div>

                        <div class="btnforget">
                            <button mat-button class="btncancel" (click)="backToLogin()"
                                routerLinkActive="router-link-active">HUỶ</button>
                            <button mat-button class="btnreset" type="submit" [disabled]="forgotForm.invalid"
                            >GỬI</button>
                        </div>
                    </form>
                </div>
                <!-- <div *ngIf="(isEmailSent && !isEmailSentError)">
                    <div class="forgotDirection submitResult">
                        <p>{{serverResponseMsg}}</p>
                    </div>
                    <div class="btnforget">
                        <button mat-button class="btnreset" style="float: none;" (click)="backToLogin()"
                            routerLinkActive="router-link-active">{{ 'FORGOT_PASSWORD.BACK_TO_LOGIN' | translate }}</button>
                    </div>
                </div> -->

                <!-- check show -->
                <!-- <div *ngIf="!isShowCheck">
                    <div *ngIf="isEmailSent && isEmailSentError">
                        <div class="forgotDirection submitResult">
                            <p>{{serverResponseMsg}}</p>
                        </div>
                        <div class="btnforget">
                            <button mat-button class="btncancel" (click)="backToLogin()"
                                routerLinkActive="router-link-active">{{ 'FORGOT_PASSWORD.CANCEL' | translate }}</button>
                            <button mat-button class="btnreset" (click)="retryRequest()"
                                routerLinkActive="router-link-active">{{ 'FORGOT_PASSWORD.RETRY' | translate }}</button>
                        </div>
                    </div>
                </div> -->

                <!-- check show -->
                <div *ngIf="isShowCheck">
                    <div *ngIf="isEmailSent">
                        <div class="forgotDirection submitResult">
                            <p>Email được gửi thành công!</p>
                            <p style="color: red">Vui lòng kiểm tra thông báo trong email vừa gửi</p>
                        </div>
                        <div class="btnforget">
                            <button mat-button class="btnok" (click)="backToLogin()"
                                routerLinkActive="router-link-active">ĐĂNG NHẬP</button>
                            <button mat-button class="btnreset" (click)="retryRequest()"
                                routerLinkActive="router-link-active">GỬI LẠI</button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isValidToken">
                <div id="forgotTitle">
                    <!-- <button mat-icon-button [routerLink]="['/login']">
                                    <mat-icon>chevron_left</mat-icon>
                                </button> -->
                    <p class="forgotText">ĐẶT LẠI MẬT KHẨU</p>
                </div>
                <div class="forgotLogo">
                    <img src="assets/images_doxa/undraw_my_password_d6kg.svg" alt="">
                </div>
                <div *ngIf="!isPasswordReset && !isPasswordResetError">
                    <div class="forgotDirection">
                        <p>Vui lòng nhập mật khẩu mới</p>
                    </div>
                    <form action="#" class="forgotForm" [formGroup]="resetForm" (ngSubmit)="onSubmit('reset')">
                        <div class="inputFormPadding">
                            <input type="password" class="inputForm" placeholder="Nhập mật khẩu mới"
                                formControlName="newPassword" />
                        </div>
                        <div
                            *ngIf="resetForm.get('newPassword').hasError('required') && (resetForm.get('newPassword').dirty || resetForm.get('newPassword').touched)">
                            <app-alert>
                                <p>Vui lòng nhập mật khẩu mới.</p>
                            </app-alert>
                        </div>
                        <div
                            *ngIf="resetForm.get('newPassword').hasError('minlength') && (resetForm.get('newPassword').dirty || resetForm.get('newPassword').touched)">
                            <app-alert>
                                <p>{{ 'FORGOT_PASSWORD.PASSWORD_LEAST' | translate }}</p>
                            </app-alert>
                        </div>
                        <div class="inputFormPadding">
                            <input type="password" class="inputForm" placeholder="Nhập mật khẩu xác nhận"
                                formControlName="confirmPassword" />
                        </div>
                        <div
                            *ngIf="resetForm.get('confirmPassword').hasError('required') && (resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched)">
                            <app-alert>
                                <p>Vui lòng nhập mật khẩu xác nhận.</p>
                            </app-alert>
                        </div>
                        <div
                            *ngIf="resetForm.get('confirmPassword').hasError('mustMatch') && (resetForm.get('newPassword').dirty || resetForm.get('newPassword').touched)">
                            <app-alert>
                                <p>Mật khẩu xác nhận không trùng khớp.</p>
                            </app-alert>
                        </div>

                        <div class="btnforget">
                            <button mat-button class="btncancel" (click)="backToLogin()"
                                routerLinkActive="router-link-active">HUỶ</button>
                            <button mat-button class="btnreset" type="submit" [disabled]="resetForm.invalid"
                            >ĐẶT LẠI</button>
                        </div>
                    </form>
                </div>
                <div *ngIf="isPasswordReset || isPasswordResetError">
                    <div class="forgotDirection submitResult">
                        <p>{{serverResponseMsg}}</p>
                    </div>
                    <div class="btnforget">
                        <button mat-button class="btnreset" style="float: none;" (click)="backToLogin()"
                            routerLinkActive="router-link-active">{{ 'FORGOT_PASSWORD.BACK_TO_LOGIN' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="FormFooter">Bản quyền thuộc Omed</h2>
    </div>

</div>
