<div  id="register" fxLayout="column">

    <div id="register-form-wrapper"  fxLayout="column" fxLayoutAlign="center center">

        <div id="register-form"  [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div id="FormTitle">
                <div class="formLogo">
                    <img src="assets/images_codix/codixLogo.jpg">
                </div>
            </div>
            <div id="notConfirmRegister">
                <div id="RegisterTitle">
                    <p class="registerText">REGISTER SUCCESSFULLY!</p>
                </div>
                <p class="register-text">Thank you for registeration</p>
                <p class="register-text-highlight">Account is ready to work</p>
            </div>


            <div id="confirmRegister"   fxLayout="column" >
                
                <div  fxLayout="column" fxLayoutAlign="center center">
            
                    <div  [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
                        <img src="../../../../assets/images/payment/undraw_celebration_0jvk.png" alt="">
                        <button id="btnConfirmRegister" mat-button (click)="backToLogin()">OK</button>
                    </div>
            
                </div>
            
            </div>
        </div>
        
        <h2 class="FormFooter">Copyright by Codix - 2022</h2>
    </div>

</div>
