<div  id="register" fxLayout="column">

    <div id="register-form-wrapper"  fxLayout="column" fxLayoutAlign="center center">

        <div id="register-form"  [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div id="FormTitle">
                <div class="formLogo">
                    <img src="assets/images_doxa/Logo-omed-1.png">
                </div>
            </div>
            <div id="notConfirmRegister">
                <div id="RegisterTitle">
                    <p class="registerText">ĐĂNG KÝ THÀNH CÔNG!</p>
                </div>
                <!-- <p class="register-text">Cảm ơn bạn đã đăng ký.</p> -->
                <p class="register-text-highlight">Tài khoản đang chờ hệ thống xác nhận</p>
                <p class="register-text">Thông tin xác nhận được gửi qua email</p>
                <p class="register-text">{{this.returnUrl}}</p>
            </div>


            <div id="confirmRegister"   fxLayout="column" >
                
                <div  fxLayout="column" fxLayoutAlign="center center">
            
                    <div  [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
                        <img src="../../../../assets/images/payment/undraw_celebration_0jvk.png" alt="">
                        <button id="btnConfirmRegister" mat-button (click)="backToLogin()">TRỞ LẠI</button>
                    </div>
            
                </div>
            
            </div>
        </div>
        
        <h2 class="FormFooter">Bản quyền thuộc Omed</h2>
    </div>

</div>
