@import "src/@fuse/scss/fuse";

.employees {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;

  .title {
    margin: 20px 20px;
    height: 80px;
    line-height: 80px;
    position: relative;

    p{
        font-size: var(--header-page);
        color: var(--text-color);
        margin: 0;
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translate(0%, -50%);
    }

    button{
      padding: 2px 20px;
      font-size: var(--button-text);
      background-color: var(--primary-color);
      color: white;
      margin: 0;
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translate(0%, -50%);
      font-weight: normal !important;
    }
  }

  .body {
    margin: 10px 20px;
    height: 100%;
    background-color: white;
    padding: 20px !important;

    .ag-theme-balham {
      font-size: var(--ag-grid-text);
      width: 100%;

      .ag-cell-focus{
          border: none !important;
          outline: none !important;
      }

    }
  }
}