<div class="customers">
    <div class="title">
      <p>Employee list</p>
      <button mat-raised-button (click)="add()">Add employee</button>
    </div>
  
    <div class="body">
      <ag-grid-angular
          style="width: 100%; height: 600px"
          class="ag-theme-balham customers-all"
          [rowData]="employees"
          [columnDefs]="columnDefs"
          [gridOptions]="gridOptions"
          rowSelection="multiple"
          (rowClicked)="onViewEmployeeDetail($event)"
          (rowDoubleClicked)="onViewEmployeeDetail($event)"
          [singleClickEdit]="true"
          [defaultColDef]="defaultColDef"
          [overlayLoadingTemplate]="loadingTemplate"
          [overlayNoRowsTemplate]="loadingTemplate"
          [pagination]="true"
          (gridReady)="onGridActiveReady($event)"
          (paginationChanged)="onPaginationChanged($event)"
        ></ag-grid-angular>
    </div>
  </div>